		#text1 {
			text-align: center;
			color: white;
		}
		
		#color1 {
			color: red;
		}
		
		#color2 {
			color: orange;
		}
		
		#color3 {
			color: yellow;
		}
		
		#color4 {
			color: lightgreen;
		}
		
		#color5 {
			color: green;
		}
		
		#color6 {
			color: blue;
		}
		
		#color7 {
			color: purple;
		}
		
		p {
		  font-size: 16px;
		  line-height: 2em;
		  color: white;
		}
		
		span {
		     font-size: 2ex;
		}
		
		h1 {
		    font-size: 350%;
			color: yellow;
		}
		
		h2 {
			font-size: 2rem;
		}

		
		body {
			background-color: black;
		}
		
		.divv {
			border: 5px outset white;
			background-color: lightgreen;    
			text-align: center;
		}